<html>
    <form action="/quiz" method="post" enctype="multipart/form-data">
    <h3>
        1: Neurons are the brain cells that are covered as well as protected with a fatty substance called _________. 
    </h3>
    <input type="text" name="q1">
    <h3>
        2: This cycle of addiction keeps the user coming back over and over again to the source of their_________.   
    </h3> 
    <input type="text" name="q2">
    <h3>
        3: Screen addictions have the same dopamine-dependent negative mental effects as_________.   
    </h3>
    <input type="text" name="q3">
    <h3>
        4:  ____________makes it harder to retain information, socially interact, and regulate their emotions.   
    </h3>
    <input type="text" name="q4">
    <h3>
        5: A single pickup of a _______ can set off a chain reaction of _______, which makes it harder and harder to resist the urge to pick it up again.   
    </h3>
    <input type="text" name="q5">
    <h3>
        6:________ brains are especially susceptible to the factors that trigger the reward centre of the brain.  
    </h3>
    <input type="text" name="q6">
    <h3>
        7: Addictive behaviour increases the amount of reward-connected ___________ in the brain.   
    </h3>
    <input type="text" name="q7">
    <h3>
        8:MRI scans have shown that there is a premature thinning of the ____________________ and is linked to excessive screen use.  
    </h3>
    <input type="text" name="q8">
    <h3>
        9) The function of the ____________ is processing different types of information from the senses and is linked to a person’s highest IQ levels, and has a serious impact on one’s ability to regulate emotions, plan for the future, and can possibly result in poor impulse control  
    </h3>
    <input type="text" name="q9">
    <h3>
        10) Scientists are finding that the changes in the ____________ layer’s fineness in teens are way thinner than normal.   
    </h3>
    <input type="text" name="q10">
    <h3>
        11) Developing ___________is a  key that can break down these addictive habits.   
    </h3>
    <input type="text" name="q11">
    <h3>
        12) ________ brains are more vulnerable to the tempting side effects of the reward centre of the brain.    
    </h3>
    <input type="text" name="q12">
<button type="submit">
    submit
</button>
    </form>

</html>